*{
    margin: 0;
    padding: 0;

}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(bcimage6.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;

}
.icon{
    width: 200px;
    float: left;
    height: 70px;

}

.logo{
    color: #ff7200;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;

}
.menu{
    width: 400px;
    float: left;
    height: 70px;
}


ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 70px;
    margin-top: 27px;
    font-size: 14px;
}


ul li a{
    text-decoration: none;
    color: white;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;

}

ul li a:hover{
    color: red;
}

.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}
/*-------------- search part---------*/
.srch{
    font-family: 'Times New Roman', Times, serif;
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid red;
    margin-top: 13px;
    color: #fff;
    border-left: none;
    font-size: 17px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;


}
.btn{
    width: 100px;
    height: 40px;
    background: #ff7200;
    border: 2px solid #ff7200;
    margin-top: 13px;
    color: white;
    font-size: 17px;
    border-bottom-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.btn:hover{
    color: black;
}

.btn:focus{
    outline: none;

}

.srch:focus{
    outline: none;
}

.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: white;
    position: relative;

}

.content .par{
    padding-left: 20px;
    padding-bottom: 27px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;

}
.content h1{
    font-family: 'Times New Roman';
    font-size: 70px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}

.content .cn{
    width: 170px;
    height: 40px;
    background: red;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;

}


.content .cn a{
    text-decoration: none;
    color: black;
    transition: 0.3s ease;
}

.cn:hover{
    background-color: white;
}

.content .space{
    color: red;
    font-size: 70px;
}


.form{
    width: 270px;
    height: 380px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    top: -20px;
    left: 870px;
    border-radius: 10px;
    padding: 27px;
}


.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #ff7200;
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}
.form input{
    width: 240px;
    height: 34px;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color: white;
    font-size: 14px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;


}


.form input:focus{
    outline: none;

}

::placeholder{
    color: white;
    font-family: Arial;
}


.btnn{
    width: 240px;
    height: 40px;
    background: red;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: white;
    transition: 0.4s ease;

}


.btnn:hover{
    background: white;
    color: #ff7200;

}
.btnn a{
    text-decoration: none;
    color:black;
    font-weight: bold;
}
.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;

}
.form .link a{
    text-decoration: none;
    color: #ff7200;


}

.liw{
    padding: 17px;
    padding-bottom: 10px;
    text-align: center;
}

.icon a{
    text-decoration: none;
    color: #fff;


}

.icons ion-icon{
    color: #fff;
    font-size: 30px;
    padding-top: 7px;
    padding-left: 14px;
    transition: 0.3s ease;

}
.icons ion-icon:hover{
    color: #e80b67;
}